.mm_combination_facet_container{
	position:relative;
	display:block;
	padding:15px;
	border:1px solid #ddd;
}

.mm_combination_facet_fields{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:calc( 100% - 125px );
	box-sizing:border-box;
}

.mm_combination_facet_field{
	position:relative;
	display:inline-block;
	margin:2px;
}

.mm_combination_facet_field select{
	width:125px;
}

.mm_combination_facet_action_container{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	text-align:right;
	width:125px;
	box-sizing:border-box;
}

.mm_combination_facet_action{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	margin:2px;
	padding:5px 8px;
	background:#f8f8f8;
	text-decoration:none;
	border:1px solid #ddd;
	border-radius:3px;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.mm_combination_facet_action:hover{
	border-color:#aaa;
}

.mm_combination_facet_action:active{
	box-shadow:inset 0 0 8px rgba( 0, 0, 0, 0.1 );
}

.mm_combination_facet_action.disabled{
	background-color:#f1f1f1;
	color:#777;
	cursor:not-allowed;
}

.mm_combination_facet_action.disabled:hover{
	border-color:#ddd;
}

.mm_combination_facet_action.disabled:active{
	box-shadow:none;
}